

@media screen and (max-width: 500px) {
  
  .navigation a:not(:first-child) {display: none;}

  .navigation a.icon {
    float: right;
    display: block;
  }
  
  .navigation .noShow img{
    float: left;
    width: 100px;
  }

  .navigation {
    overflow: hidden;
  }
  
}
@media screen and (max-width: 500px) {
  body {
    background-color: azure;
  }
  .navigation.responsive {position: relative;}

  .navigation.responsive .icon {
    position: relative;
    right: 0;
    top: 0;
  }

  .navigation.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
 
  .navigation a.logo {
    float: left;
  }
  .logo {
    width: 60%;
    height: auto;
  }

  .navigation.responsive .show {
    display: none;
  }

  nav.navigation {
    display: block;
  }

  /* .responsive {
    display: flex;
    flex-direction: column;
    align-content: space-around;
    height: 300px;
  }
   */
  /* .responsive a i {
    display: none;
  } */
}